---
import Image from "../../public/team.jpeg";
// let Image = "";
const photos = [
    { name: "SampleText", href: Image.src },
    { name: "SampleText", href: Image.src },
    { name: "SampleText", href: Image.src },
];
const photos2 = [
    { name: "SampleText", href: Image.src },
    { name: "SampleText", href: Image.src },
    { name: "SampleText", href: Image.src },
];
---

<script>
    import anime from "animejs";
</script>

<div class="md:flex m-auto justify-center p-auto">
    <div class="photoGallery left">
        {
            photos.map((img) => (
                <div class=" md:w-[25vw] h-auto m-4 add-border rounded-lg hover:shadow-xl hover:shadow-blue-700 hoverScale">
                    <img
                        src={img.href}
                        alt="alt text"
                        class="w-full h-auto rounded-2xl"
                    />
                </div>
            ))
        }
    </div>
    <div class="photoGallery right">
        {
            photos2.map((img) => (
                <div class="md:w-[25vw] h-auto m-4 rounded-lg  add-border hoverScale">
                    <img
                        src={img.href}
                        alt="alt text"
                        class="w-full h-auto rounded-2xl"
                    />
                </div>
            ))
        }
    </div>
</div>
<style>
    .photoGallery {
    }
</style>
