---
interface Props {
	title: string;
	body: string;
	href: string;
}

// const { href, title, body } = Astro.props;
---

<header class="flex justify-between h-[7vh] px-2 items-center">
	<div id="logo" class="w-10 h-10 add-border rounded-full"></div>
	<ul id="nav-link" class="flex h-full items-center">
		<li class="px-3">Home</li>
		<li class="px-3">Team</li>
		<li class="px-3">About</li>
		<li class="px-3">Events</li>
		<li class="px-3">Gallery</li>
	</ul>
	<button type="button" class="add-border py-1 px-3 rounded-md"
		>Subscribe</button
	>
</header>
