---
interface Props {
	title: string;
	body: string;
	href: string;
}

// const { href, title, body } = Astro.props;
---

<header>
	<div id="logo" class="flex"></div>
	<ul id="nav-link" class="flex">
		<li>Home</li>
		<li>Team</li>
		<li>About</li>
		<li>Events</li>
		<li>Gallery</li>
	</ul>
</header>
