---
import { Image } from "astro:assets";
// import Main from "../../public/favicon.svg";
---

<main
    class="flex md:flex-row flex-col-reverse justify-around w-full h-[93vh] border"
>
    <div class="md:w-[45%] border h-full">
        <h1 class="md:text-4xl text-2xl text-center p-5">A Big Title</h1>
    </div>
    <div class="md:w-[45%] border h-full">
        <img
            src="../"
            srcset=""
            class="border w-[90%] h-[90%] my-[5%] m-auto"
            alt="Stic Medicaps"
        />
    </div>
</main>
