---
import Image from "../../public/STIC_cover.jpeg";
---

<main
    class="w-full h-screen bg-no-repeat bg-cover bg-gradient-to-b from-blue-900 to-black text-white border bg-blend-overlay border-black mainn"
>
    <h1
        class="sm:leading-normal headFont md:leading-snug text-white text-center my-5 pt-[30vh] text-3xl px-[5vw] md:text-5xl md:px-[15vw]"
    >
        Student Technical & Innovation Club Medicaps
    </h1>

    <div
        class="w-[90%] md:w-[40%] z-10 border rounded-lg flex justify-between h-auto m-auto my-5 text-center text-xl relative font-light"
    >
        <input
            type="text"
            class="border md:w-full w-[80%] rounded-lg rounded-e-none text-slate-800 py-1 px-2 border-black"
        />
        <button
            type="submit"
            class="hoverScale text-base rounded-lg md:px-7 px-2 hover:bg-red-700 rounded-s-none font-normal"
            >Submit</button
        >
    </div>
    <div class="m-auto -z-10 py-5 text-center">
        <button
            type="button"
            class="hoverScale hover:bg-blue-700 border rounded-md md:px-10 px-7 py-3 backdrop-blur-lg bg-black/50"
            >Blogs</button
        >
        <button
            type="button"
            class="hoverScale hover:bg-red-700 hover:font-bold border rounded-md md:px-10 px-7 py-3 backdrop-blur-lg bg-black/50"
            ><a href="https://tedx.com">TedX</a></button
        >
    </div>
</main>
<style>
    .headFont {
        font-family: "PT Sans", sans-serif;
    }
</style>
